.image{
    background-image: url(https://wallpaperaccess.com/full/3229340.jpg);
    background-size: cover;
    height: 100vh;
}
.raw{
    color: white;
    border-color: rgb(6, 238, 25);
    border-width: 5px;
    border-style: solid;
    text-align: start;
    margin-left: 500px;
    margin-right: 300px;
    padding: 30px;
    background-origin: padding-box;
    
}

